body{
    background-image: url(../images/camara.jpg);
    
}
h1{
    color: rgb(255, 0, 0);
    background-color: rgb(69, 29, 106);
    text-align: center;
    width: 50%;
    margin: 2% auto;
    border: 2px solid black;
    height: 50px;
    line-height: 60px;
    transition: 2s;
    border-radius: 50px;
      font-family: "Kumar One Outline", system-ui;
  font-weight: 400;
  font-style: normal;
}