body{
    background-image: url(../images/animatronicos.jpg);
}
.ma{
    color: white;
    border: 2px solid blueviolet;
    width: 12%;
}
.me{
    color: white;
    border: 2px solid blueviolet;
    width: 22%;
}
h2{
    color: white;
}
p{
    color: white;
}
.p{
    color: rgb(176, 0, 138);
}
.n{
    color: rgb(160, 0, 168);
}
