body{
    background-image: url(../images/animatronicos.jpg);
}
.ma{
    color: white;
    border: 2px solid blueviolet;
    width: 20%;
}
.me{
    color: white;
    border: 2px solid blueviolet;
    width: 20%;
}
h2{
    color: white;
}
p{
    color: white;
}
ul{
    color: white;
}
